@font-face {
    font-family: "Stapel";
    src: url('../fonts/Stapel_Regular.otf');
}

* {
    font-family: "Stapel";
}

body {
    height: 100vh;
    overflow-y: overlay;
    background: rgb(247, 247, 247) !important;
}
.error {
    color: red;
}

.header {
    height: 80px;
    background: rgb(247, 247, 247);
    padding: 10px 80px;
    display: flex;
    /* justify-content: space-between; */
}

.header__logo {
    display: flex;
    align-items: flex-end;
}

.header__logo>img {
    width: 50px;
}


.header__menu {
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}

.header__student-list {
    margin-right: 50px;
    text-decoration: none;
    color: #284433;
}

.header__add-student {
    text-decoration: none;
    color: #284433;
}

.header__student-list:hover,
.header__add-student:hover {
    color: #284433;
}

.add__section {
    padding: 10px 80px 50px;
    background: #fff;
    height: max-content;

}

.add__sname {
    display: flex;
    margin: 20px 0;
}

.add__name {
    margin-right: 20px;
    width: 25%;
}

.add__surname {
    width: 25%;
}

.add__bdate {
    width: max-content;
    margin-bottom: 20px;
}

.add__gender {
    width: max-content;
    margin-bottom: 20px;
}

.add__address {
    margin-bottom: 20px;
}

.add__address textarea {
    width: 30%;
    resize: none;
}

.add__city {
    margin-bottom: 20px;
}

.add__country {
    margin-bottom: 20px;
}

.add__phone {
    margin-bottom: 20px;
}

.add__mail {
    margin-bottom: 20px;
}
.add__btn {
}
.add__btn:focus {
    outline: none !important;
}

.footer {
    padding-bottom: 20px;
}

.footer__social-div {
    display: flex;
    margin-top: 24px;
    margin-bottom: 5px;
    justify-content: center;
}

.footer__social-span {
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 10px;
}

.footer__social-span i {
    font-size: 22px;
    color: #000;
}

.footer__social-span:nth-child(2) {
    margin: 0 10px;
}

.footer__social-span:nth-child(1):hover i {
    color: red;
}

.footer__social-span:nth-child(2):hover i {
    color: #0F92F3;
}

.footer__social-span:nth-child(3):hover i {
    color: #40A7E3;
}

.footer__social-span:hover {
    cursor: pointer;
}

.footer__mail {
    margin-bottom: 5px;
    color: #000;
    text-align: center;
}

.footer__rights {
    color: #656565;
    text-align: center;
    text-decoration: underline;
}