@font-face {
    font-family: "Stapel";
    src: url('../fonts/Stapel_Regular.otf');
}

* {
    font-family: "Stapel";
}

body {
    overflow-y: overlay;
    height: 100vh;
    background: rgb(247, 247, 247) !important;

}

.header {
    height: 80px;
    background: rgb(247, 247, 247);
    padding: 10px 80px;
    display: flex;
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__logo {
    display: flex;
    align-items: flex-end;
}
.header__logo > img {
    width: 50px;
}

.header__menu {
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}

.header__student-list {
    margin-right: 50px;
    text-decoration: none;
    color: #284433;
}
.header__add-student {
    text-decoration: none;
    color: #284433;
}
.header__student-list:hover, .header__add-student:hover {
    color: #284433;
}
.students {
    padding: 10px 80px;
    background: #ffffff;
    height: 100%;
}
.students__div .paginate_button a:focus {
    outline: 0 !important;
}
.students .dataTables_filter {
    display: flex;
    justify-content: flex-end;
}
.students .dataTables_filter input {
    margin-left: 20px;
}
.student__info-all, .student__info-edit, .student__info-delete {
    width: 100px;
    /* text-align: center; */
}
.student__info-all i {
    font-size: 24px;
    color: rgb(36, 105, 255);
}
.student__info-edit i {
    font-size: 24px;
    color: green;
}
.student__info-delete i {
    font-size: 24px;
    color: red;
}
.student__info-all i:hover, 
.student__info-edit i:hover, 
.student__info-delete i:hover {
    cursor: pointer;
}
.footer {
    padding-bottom: 20px;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer__social-div {
    display: flex;
    margin-top: 24px;
    margin-bottom: 5px;
    justify-content: center;
}

.footer__social-span {
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 10px;
}

.footer__social-span i {
    font-size: 22px;
    color: #000;
}

.footer__social-span:nth-child(2) {
    margin: 0 10px;
}

.footer__social-span:nth-child(1):hover i {
    color: red;
}

.footer__social-span:nth-child(2):hover i {
    color: #0F92F3;
}

.footer__social-span:nth-child(3):hover i {
    color: #40A7E3;
}

.footer__social-span:hover {
    cursor: pointer;
}

.footer__mail {
    margin-bottom: 5px;
    color: #000;
    text-align: center;
}

.footer__rights {
    color: #656565;
    text-align: center;
    text-decoration: underline;
}